.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100%;
}

.main .books_storage {
  background-color: snow;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 600px;
}

.main .books_storage .book {
  display: grid;
  grid-template-rows: 150px 150px 100px;
  justify-items: center;
  align-items: center;
  margin: 50px;
  padding: 20px;
  grid-gap: 30px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.main .books_storage .book img {
  width: 60%;
}

.main .books_storage .book .book_description {
  display: grid;
  grid-gap: 10px;
}

.main .books_storage .book .book_description span {
  font-size: 20px;
  font-weight: 600;
}
.main .books_storage .book .book_description p {
  font-size: 15px;
  font-weight: 400;
}

.main .books_storage .book .book_editing button {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #019CBF;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
}

.main .books_storage .book .book_editing button:last-child {
  background-color: #BF0101;
  opacity: 70%;
}