.add_to_cart_btn {
  border: none;
  background-color: rgba(13, 59, 102, 0.9);
  padding: 8px 8px;
  border-radius: 20px;
  color: snow;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  width: 96px;
}

.add_to_cart_btn:hover {
  background-color: rgba(13, 59, 102, 0.7);
}