.third{
  padding: 163px 240px;
}

.third .head {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.third .head span:first-child{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

.third .head span:last-child{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #FB8F1D;
  justify-self: end;
  cursor: pointer;
}

@keyframes picturesAnim {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

.picturesAnim {
  opacity: 1;
  animation-name: picturesAnim;
  animation-duration: 5s;
}

.third .pictures{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-top: 56px;
  opacity: 0;
}

.first_picture , .second_picture, .third_picture, .four_picture{
  height: 350px;
  width: 261px;
  justify-self: center;
  border-radius: 10px;
  display: grid;
}

.first_picture .text, .second_picture .text, .third_picture .text, .four_picture .text{
  padding: 11px 22px 5px 5px;
  border-radius: 0 10px 0 0;
  justify-self: start;
  align-self: end;
  background: white;
  display: grid;
}

.first_picture .text span:first-child, .second_picture .text span:first-child, .third_picture .text span:first-child, .four_picture .text span:first-child{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #042521;
}

.first_picture .text span:last-child, .second_picture .text span:last-child, .third_picture .text span:last-child, .four_picture .text span:last-child{
  font-weight: 400;
  font-size: 15px;
  color: #848484;
}

.first_picture {
  background: url('../image/one.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.second_picture{
  background: url('../image/Fanjingshan.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.third_picture{
  background: url('../image/Vevey.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.four_picture{
  background: url('../image/Skadar.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1600px) {
  .third {
    padding: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .third .pictures{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .third {
    padding: 20px 10px;
  }

  .third .pictures {
    grid-template-columns: 1fr;
  }
}