.items_container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 13px 70px;
  justify-items: center;
  justify-content: center;
  gap: 30px;
  background-color: snow;
  min-height: 70vh;
}